@{
    ViewData["Title"] = "NoAutorizado";
}


<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 400px;
        margin: 70px auto;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #dc3545;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .emoji {
        font-size: 48px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <h1>¡Acceso Denegado! 😅</h1>
    <div class="emoji">🚫</div>
    <p>Parece que intentaste acceder a un área restringida.</p>
    <p>Lo siento, pero no puedes pasar.</p>
    <p>¡Mejor suerte la próxima vez!</p>
</div>


